@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body
{
    background: linear-gradient(#f7ff99, #ffd8ab)
}
h1
{
    font-family: 'Rubik', sans-serif;
}
#button_demo
{
    cursor:default
}